/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #C3BBFF #FFFFFF;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 11px;
  background-color: #FFFFFF;
}

*::-webkit-scrollbar-track:hover {
  background-color: #E0EAEC;
}

*::-webkit-scrollbar-track:active {
  background-color: #E4EDF0;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #C3BBFF;
  border: 2px solid #4D4D4D;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #A796FF;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #AA81DA;
}
